@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.ProjectPhaseViewModel>
<table id="projectphase-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayName(x => x.First().Title)</th>
            <th>@Html.DisplayName(x => x.First().DisplayOrder)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
