@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.ProjectPhaseViewModel>

@{
    ViewBag.Title = "Project Phase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>
        @ViewBag.Title
        <span class="pull-right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", data_button_action="create" })
        </span>
        <span class="clearfix"></span>
    </h2>
</div>

<div id="table-container">
	@{Html.RenderPartial("_ListItems",Model);}
</div>

<div id="modal-container" class="modal hide">
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TopControls.projectPhase.editLink = '@Html.ActionLink(" ", "Edit", new { id = "idPlaceholder" }, new { @class = "icon-edit inline-block", title = "Edit", data_button_action="edit" })';
            TopControls.projectPhase.deleteLink = '@Html.ActionLink(" ", "Delete", new { id = "idPlaceholder" }, new { @class = "icon-remove inline-block", title = "Delete", data_button_action="delete" })';
			TopControls.projectPhase.listUrl = '@Url.Action("ListItems")';
            TopControls.projectPhase.init();
        });
    </script>
}

