﻿@using System.Web.Optimization
@model MMR.TOPControls.Web.ViewModels.ProgressStatusViewModel
@{
    ViewBag.Title = "Project Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb
{
    <li>Project Dashboard</li>
}

<div ng-app="MMR.ProjectStatus" ng-controller="ProjectStatusTabsController" ng-cloak>
    <div class="row-fluid">
        <div class="span12">
            <div class="phases clearfix">
                <table class="table horizontal-phase" ng-hide="screenSize.isSmallScreen">
                    <tr>
                        <td ng-repeat="phase in phaseSummaries" class="phase">
                            <table class="table level">
                                <tr>
                                    <td>
                                        <h4>{{phase.Title}}</h4>
                                        <div class="info"><span>{{phase.TaskCount - phase.IncompleteTaskCount | number:0}}/{{phase.TaskCount | number:0}}</span> tasks have been completed.</div>
                                        @if (Model.ShowEarnedToClient || !User.IsInRole("TOPClient"))
                                        {
                                        <div class="info" ng-hide="displayType == 'percent'"><span>{{phase.CompletedManHours | number:0}} / {{phase.TotalManHours | number:0}}</span> Man-hours Earned/Budgeted</div>
                                        }
                                    </td>
                                    <td class="percent {{phase.PercentComplete | completionstate}}">
                                        {{(phase.PercentComplete * 100).toString().substring(0,4) + '%'}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table level phase" ng-if="screenSize.isSmallScreen">
                    <tr ng-repeat="phase in phaseSummaries">
                        <td>
                            <h4>{{phase.Title}}</h4>
                            <div class="info"><span>{{phase.TaskCount - phase.IncompleteTaskCount | number:0}}/{{phase.TaskCount | number:0}}</span> tasks have been completed.</div>
                            <div class="info" ng-hide="displayType == 'percent'"><span>{{phase.CompletedManHours | number:0}}</span> manhours completed.</div>
                            <div class="info" ng-hide="displayType == 'percent'"><span>{{phase.TotalManHours | number:0}}</span> total manhours.</div>
                        </td>
                        <td class="percent {{phase.PercentComplete | completionstate}}">
                            {{(phase.PercentComplete * 100).toString().substring(0,4) + '%'}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @if (Model.ShowEarnedToClient || !User.IsInRole("TOPClient"))
    {
        <div class="pull-right">
            <div class="btn-group" data-toggle="buttons" id="toggle-displayType">
                {{displayType}}
                <label class="btn btn-toggle active" id="toggle-percent">
                    <input type="radio" value="percent" ng-model="displayType" /> Percent Only
                </label>
                <label class="btn btn-toggle" id="toggle-man-hours">
                    <input type="radio" value="man-hours" ng-model="displayType" /> Earned Man-Hours
                </label>
            </div>
        </div>
    }

    <ul class="nav nav-tabs">
        <li ng-class="{'active': activeTab == 'overview'}">
            <button class="btn btn-link"
                    ng-click="setActiveTab('overview')">
                Overview
            </button>
        </li>
        <li ng-class="{'active': activeTab == 'systemBreakdown'}">
            <button class="btn btn-link"
                    ng-click="setActiveTab('systemBreakdown')">
                System Breakdown
            </button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane"
             ng-class="{'active': activeTab == 'overview'}"
             ng-if="activeTab == 'overview'"
             ng-controller="ProjectStatusController">
            <div class="row-fluid">
                <div class="span6">
                    <!-- Job Total Progress -->
                    <div class="well white-well">
                        <h4>Overall Completion: {{jobPercentComplete}}</h4>
                        <div>
                            <div id="jobPercentComplete"></div>
                            <highchart series="jobPercentCompleteChart.series" options="jobPercentCompleteChart.options"></highchart>
                        </div>
                        <br />
                        <div class="align-right">
                            @Html.ActionLink("Get Overall Job Historical Report", "Print", "Reports", new { name = "JobHistoricalData" }, null)
                        </div>
                        <br />
                        <div>
                            <div id="jobProgressChart"></div>
                            <highchart series="jobProgressChart.series" options="jobProgressChart.options"></highchart>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!-- Tasks By Phase Progress -->
                    <div class="well white-well">
                        <h4 class="dashboard-section-header">
                            Tasks: {{taskProgressChart.totalManhours}}
                            <span class="pull-right">
                                @Html.DropDownList("TaskPhaseSelector", Model.PhaseSelector, new { ng_model = "state.taskPhase" })
                            </span>
                            <span class="clearfix"></span>
                        </h4>
                        <div class="well align-center">
                            <h5>
                                <span class="pull-left" ng-show="state.currentTaskIdx > 0">
                                    <a ng-click="prevTask()"><i class="icon-chevron-left"></i></a>
                                </span>
                                <span ng-bind="state.tasks[state.currentTaskIdx].text || 'Select A Phase.'"></span>
                                <span ng-show="state.loadingTaskData">(loading...)</span>
                                <span class="pull-right" ng-show="state.tasks.length > 1 && state.currentTaskIdx < state.tasks.length - 1">
                                    <a ng-click="nextTask()"><i class="icon-chevron-right"></i></a>
                                </span>
                                <span class="clearfix"></span>
                            </h5>
                        </div>
                        <div>
                            <div id="taskProgressChart"></div>
                            <highchart series="taskProgressChart.series" options="taskProgressChart.options"></highchart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <!-- Phase Total Progress -->
                    <div class="well white-well">
                        <h4 class="dashboard-section-header">Phases: {{phaseProgressChart.totalManhours}}</h4>
                        <div class="well align-center">
                            <h5>
                                <span class="pull-left" ng-show="state.currentPhaseIdx > 0">
                                    <a ng-click="prevPhase()"><i class="icon-chevron-left"></i></a>
                                </span>
                                <span>{{state.phases[state.currentPhaseIdx].title}}</span>
                                <span ng-show="state.loadingPhaseData">(loading...)</span>
                                <span class="pull-right" ng-show="state.phases.length > 1 && state.currentPhaseIdx < state.phases.length - 1">
                                    <a ng-click="nextPhase()"><i class="icon-chevron-right"></i></a>
                                </span>
                                <span class="clearfix"></span>
                            </h5>
                        </div>
                        <div>
                            <div id="phaseProgressChart"></div>
                            <highchart series="phaseProgressChart.series" options="phaseProgressChart.options"></highchart>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!-- Phase Total Progress -->
                    <div class="well white-well">
                        <h4 class="dashboard-section-header">Systems: {{systemProgressChart.totalManhours}}</h4>
                        <div class="well align-center">
                            <h5>
                                <span class="pull-left" ng-show="state.currentSystemIdx > 0">
                                    <a ng-click="prevSystem()"><i class="icon-chevron-left"></i></a>
                                </span>
                                <span>{{state.systems[state.currentSystemIdx].title}}</span>
                                <span ng-show="state.loadingSystemData">(loading...)</span>
                                <span class="pull-right" ng-show="state.systems.length > 1 && state.currentSystemIdx < state.systems.length - 1">
                                    <a ng-click="nextSystem()"><i class="icon-chevron-right"></i></a>
                                </span>
                                <span class="clearfix"></span>
                            </h5>
                        </div>
                        <div>
                            <div id="systemProgressChart"></div>
                            <highchart series="systemProgressChart.series" options="systemProgressChart.options"></highchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane"
             ng-class="{'active': activeTab == 'systemBreakdown'}"
             ng-if="activeTab == 'systemBreakdown'"
             ng-controller="SystemBreakdownController">
            <h4 class="dashboard-section-header">
                <span class="pull-left">
                    Phase:
                    @Html.DropDownList("SystemPhaseSelector", Model.PhaseSelector, new { ng_model = "state.systemPhase", ng_change = "getSystemsByPhase()" })
                </span>
                <span class="pull-right" ng-show="state.systemPhase">
                    <ui-select ng-model="state.selected" theme="selectize"
                               on-select="onSearchSelect($item, $model)"
                               style="width:400px;float: right;">
                        <ui-select-match placeholder="Select or search">
                            <div ng-bind-html="formatDisplayName($select.selected.name) | trust"
                                 title="{{getPath($select.selected)}}"></div>
                        </ui-select-match>
                        <ui-select-choices refresh="searchItems($select.search)" refresh-delay="50" repeat="item in filteredItems"
                                           group-by="'type'">
                            <div ng-bind-html="formatDisplayName(item.name) | trust"
                                 title="{{getPath(item)}}"></div>
                        </ui-select-choices>
                    </ui-select>
                </span>
                <div class="clearfix"></div>
            </h4>
            <div class="alert alert-info" ng-hide="state.systemPhase">
                Please select a 'Phase' to continue.
            </div>
            <div class="alert alert-info" ng-show="state.loadingGroupedData">
                Loading...
            </div>
            <div ng-include="'@Url.Content("~/Assets/js/angular/template/systemBreakdown.html")'"
                 ng-show="state.systemPhase && !state.loadingGroupedData"></div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
    var __ProjectStatusBaseUrl = '@Url.Action("Index", "ProjectStatus")';
    var __CanEditComments = @((User.IsInRole("TOPAdmin") || User.IsInRole("TOPManager")).ToString().ToLower());
    </script>
    

    @Scripts.Render("~/Assets/js/angular-libs")
    @Scripts.Render("~/Assets/js/angular-highcharts")

    <script src="@Url.Content("~/Assets/js/libs/fuse.js")"></script>
    <script src="@Url.Content("~/Assets/js/angular/MMR.ProjectStatus.app.js")"></script>

    @Scripts.Render("~/Assets/js/ng-filters")
    @Scripts.Render("~/Assets/js/ng-services")
    @Scripts.Render("~/Assets/js/ng-controllers")
    @Scripts.Render("~/Assets/js/ng-directives")
}
