@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.JobInfoViewModel>
<table id="jobinfo-table" class="table table-striped">
	<thead>
		<tr>
			<th>@Html.DisplayName(x=>x.First().Title)</th>
			<th>@Html.DisplayName(x=>x.First().UDPName1)</th>
			<th>@Html.DisplayName(x=>x.First().UDPName2)</th>
			<th>@Html.DisplayName(x=>x.First().UDPName3)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
