@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.Areas.Admin.ViewModels.JobInfoViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_form_action = "edit" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
        <h3>Edit Job Info</h3>
    </div>
	<div class="modal-body form-horizontal">
			@Html.HiddenFor(x => x.ID)
			<div class="control-group">
			@Html.LabelFor(x => x.Title, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(x => x.Title)
				@Html.ValidationMessageFor(x => x.Title)
			</div>
		</div>
			<div class="control-group">
			@Html.LabelFor(x => x.UDPName1, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(x => x.UDPName1)
				@Html.ValidationMessageFor(x => x.UDPName1)
			</div>
		</div>
			<div class="control-group">
			@Html.LabelFor(x => x.UDPName2, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(x => x.UDPName2)
				@Html.ValidationMessageFor(x => x.UDPName2)
			</div>
		</div>
			<div class="control-group">
			@Html.LabelFor(x => x.UDPName3, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(x => x.UDPName3)
				@Html.ValidationMessageFor(x => x.UDPName3)
			</div>
		</div>
		</div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
    </div>    
}
