@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.ProjectSystemViewModel>
<table id="projectsystem-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayName(x => x.First().SystemNumber)</th>
            <th>@Html.DisplayName(x => x.First().Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
