@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.Areas.Admin.ViewModels.ProjectSystemViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { data_form_action = "edit" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <i class="icon-remove"></i>
        </button>
        <h3>Edit Project System</h3>
    </div>
    <div class="modal-body form-horizontal">
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.JobID)
        @Html.HiddenFor(x => x.ParentId)
        @Html.HiddenFor(x => x.SortOrder)
        <div class="control-group">
            @Html.LabelFor(x => x.SystemNumber, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.SystemNumber)
                @Html.ValidationMessageFor(x => x.SystemNumber)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.Description)
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
    </div>    
}
