@using System.Web.Optimization

@{
    ViewBag.Title = "Project System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div ng-app="MMR.SystemManagement"
     ng-controller="SystemManagementController as systems"
     ng-cloak>
    <div class="page-header">
        <h2>
            @ViewBag.Title
            <span class="pull-right">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", data_button_action = "create" })
                <button class="btn" ng-click="systems.openMergeDialog()">Merge</button>
            </span>
            <span class="clearfix"></span>
        </h2>
    </div>

    <div ui-tree="systems.treeOptions" class="tree">
        <button class="btn btn-link"
                ng-click="systems.toggleCollapse()">
            {{systems.shouldExpandAll() ? 'Expand' : 'Collapse'}} All
        </button>
        <ul ui-tree-nodes ng-model="systems.list">
            <li class="root-node"
                ng-repeat="item in systems.list"
                ng-init="systems.addNodeId(item.ID)"
                ui-tree-node
                ng-include="itemRenderUrl"></li>
        </ul>
    </div>
</div>

<div id="modal-container" class="modal hide fixed"></div>

@section Scripts
{
    <script>
        var itemRenderUrl = '@Url.Content("~/Assets/js/angular/template/item_render.html")';
        var __ProjectSystemBaseUrl = '@Url.Action("List", "ProjectSystem")';

        var __createLink = '@Url.Action("Create")';
        var __editLink = '@Url.Action("Edit")';
        var __deleteLink = '@Url.Action("Delete")';

        TopControls.projectSystem.init();
    </script>

    @Scripts.Render("~/Assets/js/angular-libs")
    @Scripts.Render("~/Assets/js/ng-filters")
    @Scripts.Render("~/Assets/js/ng-services")
    @Scripts.Render("~/Assets/js/ng-directives")

    <script src="@Url.Content("~/Assets/js/libs/angular/angular-ui-tree.js")"></script>
    <script src="@Url.Content("~/Assets/js/angular/MMR.SystemManagement.app.js")"></script>


}
