﻿@{
    ViewBag.Title = "Reports";
}

<div class="page-header">
	<h2>Reports</h2>
</div>

<ul>
    <li>
        <div class="icon-print"></div>@Html.ActionLink("System and Task Report - Overview", "Print", new { name = "SystemAndTaskReport", ShowDetails = false })
    </li>
    <li>
        <div class="icon-print"></div>@Html.ActionLink("System and Task Report - Details", "Print", new { name = "SystemAndTaskReport", ShowDetails = true })
    </li>
    <li>
        <div class="icon-print"></div>@Html.ActionLink("Overall Job Historical", "Print", new { name = "JobHistoricalData" })
    </li>
</ul>

