﻿@model MMR.TOPControls.Web.ViewModels.EnterProgressViewModel

@helper FilterSelectList(string filterTitle, string dropdownIdentifier, List<SelectListItem> selectListItems, string angularModel)
{
    if (selectListItems.Count > 0)
    {
        <hr />
        <h4>@filterTitle</h4>
        @Html.DropDownList(dropdownIdentifier, selectListItems, new {multiple = true, data_select2_default = "", @class = "input-block-level", ng_model = angularModel})
    }
}

<div class="span4">
    <a href="#" class="btn btn-primary btn-block" ng-click="triggerApplyFilter()">Apply Filter</a>
    <br />
    <div class="well">
        <h4>Search</h4>
        <input type="text" ng-model="progressValues.searchText" class="input-block-level" />
        
        <hr />
        <h4>Task</h4>
        <ui-select class="input-block-level"
                   ng-model="progressValues.task"
                   multiple theme="select2">
            <ui-select-match>
                {{$item.text}}
            </ui-select-match>
            <ui-select-choices repeat="task.id as task in phaseTasks | filter:$select.search">
                <strong ng-bind-html="task.text | highlight:$select.search | trust"></strong>
            </ui-select-choices>
        </ui-select>

        @FilterSelectList("Commodities", "SelectedCommodities", Model.CommodityFilter, "progressValues.commodities")
        
        @FilterSelectList("Object Types", "SelectedObjectType", Model.ObjectTypeFilter, "progressValues.objectTypes")
        
        <hr />
        <h4>Systems</h4>
        <ui-select multiple ng-model="progressValues.systems" theme="select2" class="input-block-level system-select2-tree"
                   on-select="onSearchSelect($item, $model)">
            <ui-select-match>
                <div class="parent-path" title="{{$item.parentPath.join('\n--------------\n')}}">
                    <small class="muted">{{$item.parentDisplay}}</small>
                </div>
                <strong>{{$item.DisplayName}}</strong>
            </ui-select-match>
            <ui-select-choices repeat="system.ID as system in systemTree | filter: {'searchText': $select.search}">
                <div class="parent-path" title="{{system.parentPath.join('\n--------------\n')}}">
                    <small class="muted" ng-bind-html="system.parentDisplay | highlight:$select.search | makeHighlightVisible | trust"></small>
                </div>
                <strong ng-bind-html="system.DisplayName | highlight:$select.search | trust"></strong>
            </ui-select-choices>
        </ui-select>
        
        @FilterSelectList("Areas", "SelectedAreas", Model.AreaFilter, "progressValues.areas")
        
        @FilterSelectList("Crafts", "SelectedCraftInfo", Model.CraftInfoFilter, "progressValues.craftInfo")

        @foreach (var udpItem in Model.UdpList)
        {
            @Html.Hidden("Udp_" + udpItem.Key)
            @FilterSelectList(@udpItem.Value, "SelectedUdp_" + udpItem.Key, udpItem.UdpSelectList, "progressValues.udp" + udpItem.Key)
        }
    </div>

    <script>
        var __TaskByPhaseUrl = '@Url.Action("GetTasksByPhase", "Home")';
        var __ProjectSystemBaseUrl = '@Url.Action("List", "ProjectSystem", new { area = "Admin"})';
    </script>
</div>
