﻿<div class="span8 progress-entry-area">
    <div ng-show="state.resultTotalCount">
        <table class="table table-bordered table-striped" id="enterProgressArea">
            <thead>
                <tr>
                    <th width="210px">
                        Tracked Item
                        <span class="pull-right">
                            <span>Detail</span>
                            <input type="checkbox" ng-model="detailedTrackedItem" />
                        </span>
                    </th>
                    <th>Progress
                        <span ng-hide="workdateInPast()" class="pull-right">Search Result Progress: {{state.resultSearchProgress}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in trackedItems">
                    <td class="relative">
                        <div>
                            <div ng-show="detailedTrackedItem">
                                <strong>Id: </strong>{{item.TrackingID}}
                            </div>
                            <strong ng-hide="detailedTrackedItem">{{item.TrackingID}}</strong>
                        </div>

                        <div>
                            <div ng-show="detailedTrackedItem">
                                <strong>TaskName: </strong>{{item.TaskName}}
                            </div>
                            <em ng-hide="detailedTrackedItem">
                                {{item.TaskName}}
                            </em>
                        </div>

                        <div ng-show="detailedTrackedItem">
                            <strong>Object Type: </strong>{{item.ObjectType}}<br />
                            <strong>Commodity: </strong>{{item.Commodity}}<br />
                            <strong>System: </strong>{{item.System}}<br />
                            <strong>Area: </strong>{{item.Area}}<br />
                            <strong>Craft Code: </strong>{{item.CraftCode}}
                        </div>
                        @if (User.IsInRole("TOPAdmin") || User.IsInRole("TOPManager"))
                        {
                            <span class="edit-actions">
                                <button class="btn btn-link" ng-click="showTrackedItemHistory(item)">
                                    <i class="icon-time"></i>
                                </button>
                                <button class="btn btn-link" ng-click="openCopyTrackedItemView(item)">
                                    <i class="icon-copy"></i>
                                </button>
                                <button class="btn btn-link" ng-click="openEditTrackedItemView(item)">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button class="btn btn-link" ng-click="deleteTrackedItemView(item)">
                                    <i class="icon-trash"></i>
                                </button>
                            </span>
                        }
                    </td>
                    <td ng-class="{'stage1': item.PercentCompleteOnDate == .33, 'stage2': item.PercentCompleteOnDate == .66, 'stage3': item.PercentCompleteOnDate == 1}">
                        <div class="row-fluid tag-progress-wrapper">
                            <div class="span10">
                                <div class="btn-group row-fluid">
                                    <button class="btn span4" ng-click="setTagStatus(item, .33, 0)" ng-class="{'active': item.PercentCompleteOnDate >= .33}">
                                        <i ng-class="{'icon-check-empty': item.PercentCompleteOnDate < .33, 'icon-check': item.PercentCompleteOnDate >= .33}"></i>
                                    </button>
                                    <button class="btn span4" ng-click="setTagStatus(item, .66, .33)" ng-class="{'active': item.PercentCompleteOnDate >= .66}">
                                        <i ng-class="{'icon-check-empty': item.PercentCompleteOnDate < .66, 'icon-check': item.PercentCompleteOnDate >= .66}"></i>
                                    </button>
                                    <button class="btn span4" ng-click="setTagStatus(item, .99, .66)" ng-class="{'active': item.PercentCompleteOnDate >= 1}">
                                        <i ng-class="{'icon-check-empty': item.PercentCompleteOnDate < 1, 'icon-check': item.PercentCompleteOnDate >= 1}"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="span2">
                                <span ng-show="item.saveInProgress">saving...</span>
                                <span ng-hide="item.saveInProgress" class="tag-progress">{{item.PercentCompleteOnDate * 100}}%</span>
                                <span class="progress-indicators pull-right">
                                    <i class="icon-asterisk"
                                       ng-if="item.PercentComplete != item.PercentCompleteOnDate"
                                       tooltip="Current Progress: {{item.PercentComplete * 100}}%"
                                       tooltip-placement="left"></i>
                                    <i class="icon-comment"
                                       ng-if="item.Comments"
                                       tooltip="{{item.Comments}}"
                                       tooltip-placement="left"></i>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="pull-left">
            <span class="pull-right">Total Items Found: {{state.resultTotalCount}}</span>
        </div>

        <div pagination num-pages="state.resultNumOfPages" current-page="state.resultCurrentPage" max-size="config.resultPagerSize"
             on-select-page="changePage(page)" boundary-links="true" direction-links="false" class="pull-right">
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div ng-hide="state.resultTotalCount">
        <div class="alert alert-info">
            <h4>No results to show. Please adjust the search filter and try again.</h4>
        </div>
    </div>
</div>
