﻿@using MMR.TOPControls.Web.Helpers
@model MMR.TOPControls.Web.ViewModels.ChangePasswordViewModel
           
@{
    Layout = null;
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { data_form_action = "change-password" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
        <h3>Change Password</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label">New Password</label>
            <div class="controls">
                @Html.PasswordFor(x => x.Password)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Confirm New Password</label>
            <div class="controls">
                @Html.PasswordFor(x => x.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="controls" id="passwords-match">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
    </div>    
}
