@using System.Web.Optimization
@using Newtonsoft.Json
@model MMR.TOPControls.Web.ViewModels.EnterProgressViewModel
@{
    ViewBag.Title = "Home";
}

@section breadcrumb
{
    <li>Progress Tracking</li>
}

<div ng-app="MMR.EnterProgress" ng-controller="EnterProgressController" ng-cloak>
    <div class="row-fluid">
            <div class="span4">
                <h4>Work Crew: </h4>
                @Html.DropDownList("workCrewSelector", Model.WorkCrewSelector, new
                {
                    data_select2_default = "",
                    @class = "input-block-level work-crew-selector",
                    ng_model = "progressValues.workCrew"
                })

                <h4>Phase:</h4>
                @Html.DropDownList("projectPhaseSelector", Model.PhaseSelector, new
                {
                    data_select2_default = "",
                    @class = "input-block-level project-phase-selector",
                    ng_model = "progressValues.phase"
                })
            </div>
            <div class="span4 offset1">
                <h4>Work Date:</h4>
                <div class="input-append">
                    <input id="selectedDate" type="text" datepicker ng-model="progressValues.date">
                    <button class="btn" type="button" id="btnSetDateToday">Today</button>
                </div>
                <div class="alert alert-info" ng-show="workdateInPast()">
                    <i class="icon-asterisk"></i>
                    Viewing historical data.
                </div>
            </div>
            <div class="span2 offset1">
                @if (User.IsInRole("TOPAdmin") || User.IsInRole("TOPManager"))
                {
                    <a ng-click="openNewTrackedItemView()" class="btn btn-block btn-primary" ng-show="state.enteringData">
                        <i class="icon-plus"></i> Add Tracked Item
                    </a>
                }
            </div>
        </div>
    <hr />
    <div class="alert alert-info" ng-hide="state.enteringData">
        Select "Work Crew" and "Phase" to proceed
    </div>
    <div ng-show="state.enteringData">
        <div class="row-fluid">
            @Html.Partial("_EnterProgressFilter", Model)
            @Html.Partial("_EnterProgressResultTemplate")
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var __phases = @Html.Raw(JsonConvert.SerializeObject(Model.PhaseSelector));
    </script>
    @Scripts.Render("~/Assets/js/angular-libs")

    <script src="@Url.Content("~/Assets/js/angular/MMR.EnterProgress.app.js")"></script>

    @Scripts.Render("~/Assets/js/ng-filters")
    @Scripts.Render("~/Assets/js/ng-services")
    @Scripts.Render("~/Assets/js/ng-controllers")
    @Scripts.Render("~/Assets/js/ng-directives")

}
