@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.ViewModels.User.ChangePasswordViewModel

<div class="control-group">
    @Html.LabelFor(model => model.OldPassword, new { @class = "control-label" })
    <div class="controls">
        @Html.PasswordFor(model => model.OldPassword)
        <br/>
        @Html.ValidationMessageFor(model => model.OldPassword)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
    <div class="controls">
        @Html.PasswordFor(model => model.NewPassword)
        <br/>
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
    <div class="controls">
        @Html.PasswordFor(model => model.ConfirmPassword)
        <br/>
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
</div>