@model MMR.TOPControls.Web.ViewModels.User.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
        
        <div class="control-group">
            @Html.LabelFor(model => model.OldPassword)
            <div class="controls">
                @Html.PasswordFor(model => model.OldPassword)
                <br/>
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.NewPassword)
            <div class="controls">
                @Html.PasswordFor(model => model.NewPassword)
                <br/>
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(model => model.ConfirmPassword)
                <br/>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Cancel", "List", "Project", null, new { @class = "btn" })
        </div>
    </fieldset>
}