@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.ViewModels.User.ChangePasswordViewModel
           
@{
    ViewBag.Title = "Your Password Has Expired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header data">
    
    <h2>@ViewBag.Title</h2>
</div>

<div id="table-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "change-expired-password-form" }))
    {
        @Html.Partial("_ChangePasswordBody", Model)
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#change-expired-password-form input[type='password']:enabled:first").focus();
    </script>
}