@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.ViewModels.User.ForgotPasswordTokenRequestViewModel
           
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header data">
    <h2>@ViewBag.Title</h2>
</div>

<div id="table-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "forgot-password-token-request-form" }))
    {
        <p class="alert alert-info"> <i class="icon-info-sign"></i> An email will be sent with instructions on how to reset your password</p>
        
        <div class="control-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.EmailAddress)
                <br/>
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>
        
        if (!string.IsNullOrEmpty(Model.Message))
        {
        <div class="alert alert-error">@Html.DisplayFor(x => x.Message, new { @class = "error" })</div>
        }        
        
        <button type="submit" class="btn btn-primary">Send Request</button>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#forgot-password-token-request-form input[type='text']:enabled:first").focus();
    </script>
}

