@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.ViewModels.User.ChangeForgottenPasswordViewModel
           
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header data">
    
    <h2>@ViewBag.Title</h2>
</div>

<div id="table-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "reset-password-form" }))
    {
        @Html.HiddenFor(x=>x.TokenId)
        <div class="control-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.EmailAddress)
                <br/>
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(model => model.NewPassword)
                <br/>
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(model => model.ConfirmPassword)
                <br/>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>    
        
        if (!string.IsNullOrEmpty(Model.Message))
        {
        <div class="alert alert-error">@Html.DisplayFor(x => x.Message, new { @class = "error" })</div>
        }        
            
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#reset-password-form input[type='text']:enabled:first").focus();
    </script>
}