@using MMR.TOPControls.Web.Helpers;
@using MMR.TOPControls.Web.Areas.Admin.ViewModels;
@using MMR.TOPControls.Web.ViewModels;

@model DeletionViewModel<WorkCrewViewModel>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_form_action = "delete" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
        <h3>Confirm Delete Work Crew</h3>
    </div>
	<div class="modal-body form-horizontal">
			<div class="control-group">
			@Html.LabelFor(x => x.SourceModel.CrewNumber, new { @class = "control-label" })
			<div class="controls">
				@Html.DisplayFor(x => x.SourceModel.CrewNumber)
			</div>
		</div>
			<div class="control-group">
			@Html.LabelFor(x => x.SourceModel.Description, new { @class = "control-label" })
			<div class="controls">
				@Html.DisplayFor(x => x.SourceModel.Description)
			</div>
		</div>
		</div>
    <div class="modal-footer">
        @if (Model.CanDelete)
        {
            <button type="submit" class="btn btn-danger">Delete</button>
        }
        else
        {
            <label class="bold red align-center">Delete not available for this value.</label>

            foreach (var rv in Model.Messages)
            {
                <label class="align-center">@rv.ErrorMessage</label>
            }
        }
        <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
    </div>    
}
