﻿


@{
    ViewBag.Title = "Import Tracked Items for Task";

}

<div class="page-header">
	<h2>Import Tracked Items</h2>
</div>
    <p>You can use this page to import an Excel file with all items for a specific Task.  The template file can be found <a href="@Url.Content(@"TaskImport.xlsx")">here</a>.</p>

    @using (Html.BeginForm("Upload", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" id="SubmittedFile" name="SubmittedFile" /><br />
        <input type="submit" name="Submit" id="Submit" value="Upload" />

    }







