﻿@model MMR.TOPControls.Web.ViewModels.ImportResultsViewModel



@{
    ViewBag.Title = "Upload";

}

<div class="page-header">
	<h2>Upload</h2>
</div>

@if (Model.ImportSucceeded)
{
 
    <h4>@ViewBag.UploadSuccess</h4>

    <div class="control-group">
        <label class = "control-label">Task Imported: @Html.DisplayFor(x => x.TaskImported)</label>
    </div>
    <div class="control-group">
        <label class = "control-label">Phase Imported: @Html.DisplayFor(x => x.PhaseImported)</label>
    </div>
    <br />
    <div class="control-group">
        <label class = "control-label">Tracked Items Created: @Html.Encode(Model.TrackedItemsAdded.Count)</label>
        <a href="#" class="showhide" list_id="TrackedItemsAdded">Show</a>
        <div class="controls">
            <ul id="TrackedItemsAdded" style="display:none;">
                @foreach (var tia in Model.TrackedItemsAdded) {<li>@tia</li>}
            </ul>
        </div>
    </div>
    <div class="control-group">
        <label class = "control-label">Tracked Items Removed: @Html.Encode(Model.TrackedItemsRemoved.Count)</label>
        <a href="#" class="showhide" list_id="TrackedItemsAdded">Show</a>
        <div class="controls">
            <ul id="TrackedItemsRemoved" style="display:none;">
                @foreach (var tia in Model.TrackedItemsRemoved)
                {<li>@tia</li>}
            </ul>
        </div>
    </div>
    <br />
                if (Model.SystemsAdded.Count > 0)
                {
                    <div class="control-group">
                        <label class = "control-label">New Systems added: @Html.Encode(Model.SystemsAdded.Count)</label>
                        <a href="#" class="showhide" list_id="SystemsAdded">Show</a>
                        <div class="controls">
                            <ul id="SystemsAdded" style="display:none;">
                                @foreach(var sa in Model.SystemsAdded) {<li>@sa</li>}
                            </ul>
                        </div>
                    </div>
}
                if (Model.AreasAdded.Count > 0)
                {
                    <div class="control-group">
                        <label class = "control-label">New Areas added: @Html.Encode(Model.AreasAdded.Count)</label>
                        <a href="#" class="showhide" list_id="AreasAdded">Show</a>
                        <div class="controls">
                            <ul id="AreasAdded" style="display:none;">
                                @foreach(var sa in Model.AreasAdded) {<li>@sa</li>}
                            </ul>
                        </div>
                    </div>
}
    if (Model.CommoditiesAdded.Count > 0)
    {
                    <div class="control-group">
                        <label class = "control-label">New Commodities added: @Html.Encode(Model.CommoditiesAdded.Count)</label>
                        <a href="#" class="showhide" list_id="CommoditiesAdded">Show</a>
                        <div class="controls">
                            <ul id="CommoditiesAdded" style="display:none;">
                                @foreach(var com in Model.CommoditiesAdded) {<li>@com</li>}
                            </ul>
                        </div>
                    </div>
    }
    if (Model.CraftsAdded.Count > 0)
    {
        <div class="control-group">
            <label class = "control-label">New Crafts added: @Html.Encode(Model.CraftsAdded.Count)</label>
            <a href="#" class="showhide" list_id="CraftsAdded">Show</a>
            <div class="controls">
                <ul id="CraftsAdded" style="display:none;">
                    @foreach(var crft in Model.CraftsAdded) {<li>@crft</li>}
                </ul>
            </div>
        </div>        
    }
    if (Model.ObjectTypesAdded.Count > 0)
    {
                    <div class="control-group">
                        <label class = "control-label">New ObjectTypes added: @Html.Encode(Model.ObjectTypesAdded.Count)</label>
                        <a href="#" class="showhide" list_id="ObjectTypesAdded">Show</a>
                        <div class="controls">
                            <ul id="ObjectTypesAdded" style="display:none;">
                                @foreach(var com in Model.ObjectTypesAdded) {<li>@com</li>}
                            </ul>
                        </div>
                    </div>
    }
    
                



}
else
{
    @ViewBag.UploadFailure;
}

@section Scripts
{
    <script>
        $('a.showhide').click(function (e) {
            e.preventDefault();
            var anc = $(e.srcElement);
            var listid = '#' + anc.attr('list_id');

            $(listid).show();

        });
    </script>


}