@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.TopUserViewModel>
<table id="topuser-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayName(x => x.First().Login)</th>
            <th>@Html.DisplayName(x => x.First().FirstName)</th>
            <th>@Html.DisplayName(x => x.First().LastName)</th>
            <th>@Html.DisplayName(x => x.First().DefaultJob)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
