@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.Areas.Admin.ViewModels.CreateTopUserViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { data_form_action = "create" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
        <h3>Create New Top User</h3>
    </div>
    <div class="modal-body form-horizontal">
        @Html.HiddenFor(x => x.ID)

        <div class="control-group">
            @Html.LabelFor(x => x.Login, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.Login)
                @Html.ValidationMessageFor(x => x.Login)
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Role</label>
            <div class="controls">
                @Html.DropDownListFor(x => x.RoleName, Model.Roles, new { data_select2_default = Model.RoleName })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" } )
            <div class="controls">
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" } )
            <div class="controls">
                @Html.PasswordFor(x => x.ConfirmPassword)
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.FirstName)
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.LastName)
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.DefaultJob, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.DefaultJobID, Model.JobList, new { data_select2_default = Model.DefaultJobID.ToString() })
                @Html.ValidationMessageFor(x => x.DefaultJobID)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
    </div>    
}
