﻿@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.Areas.Admin.ViewModels.EditTopUserViewModel

@{
    ViewBag.Title = string.Format("User Jobs - {0} {1}", Model.FirstName, Model.LastName);
    var currentDefaultJob = Model.DefaultJobID;
    var currentRole = Model.Roles.FirstOrDefault(sli => sli.Selected);

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<div id="jobListSection">
    @Html.Action("EditUserJobs", new { id = Model.ID })
</div>


@section Scripts
{
    <script>

        var urlMap = {
            jobRefreshUrl: '@Url.Action("EditUserJobs", new { id = Model.ID })'
        };
        
        TopControls.topUser.initUserJobEdit(urlMap);
    </script>
}
