﻿@model MMR.TOPControls.Web.Areas.Admin.ViewModels.EditTopUserViewModel


<div class="row-fluid">

    <div class="span6">
        <h3>Current Jobs for User</h3>
        <table id="job-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jobItem in Model.JobList)
                {
                    <tr>
                        <td>@jobItem.Text</td>
                        <td>
                            <a href="@Url.Action("RemoveUserJob", "TopUser", new { id = Model.ID, jobid = jobItem.Value })" data-action="remove-job">
                                <i class="icon-trash"></i>remove
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span6">
        <div class="form-horizontal well">
            <h4>Add Jobs</h4>
            <hr />
            <table id="job-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Job</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jobinfo in Model.AvailableJobs)
                    {
                        <tr>
                            <td>@jobinfo.Title</td>
                            <td>
                                <a href="@Url.Action("AddUserJob", "TopUser", new { id = Model.ID, jobid = jobinfo.ID })" data-action="add-job">
                                    <i class="icon-plus-sign"></i>add
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



