@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.Areas.Admin.ViewModels.EditTopUserViewModel
@{
    ViewBag.Title = string.Format("User Information - {0} {1}", Model.FirstName, Model.LastName);
    var currentRole = Model.Roles.FirstOrDefault(sli => sli.Selected);
    var setRole = (currentRole == null ? "" : currentRole.Value);
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>


<div class="row-fluid">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { data_form_action = "edit" }))
    {
        <div class="span5">
            <div class="form-horizontal well">
                <h4>User Information</h4>
                <hr />
                    @Html.HiddenFor(x => x.ID)
                    <div class="control-group">
                        @Html.LabelFor(x => x.Login, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Login, new { @class = "input-block-level" })
                            @Html.ValidationMessageFor(x => x.Login)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "input-block-level" })
                            @Html.ValidationMessageFor(x => x.FirstName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "input-block-level" })
                            @Html.ValidationMessageFor(x => x.LastName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Role</label>
                        <div class="controls">
                            @Html.DropDownListFor(x => x.RoleName, Model.Roles, new { @class = "input-block-level", data_select2_default = setRole })
                            @Html.ValidationMessageFor(x => x.RoleName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.DefaultJob, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(x => x.DefaultJobID, Model.JobList, new { @class = "input-block-level", data_select2_default = Model.DefaultJobID })
                            @Html.ValidationMessageFor(x => x.DefaultJobID)
                        </div>
                    </div>
                
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <div class="clearfix"></div>
            </div>
        </div>
        <div class="span6">
            <div class="form-horizontal well">
                <h4>Change Password</h4>
                <hr />
                    <div class="control-group">
                        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(x => x.Password, new { @class = "input-block-level" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-block-level" })
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                    <div class="clearfix"></div>
            </div>
        </div>
    }
</div>
