@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.ObjectTypeViewModel>
<table id="objecttype-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayName(x => x.First().Name)</th>
            <th>@Html.DisplayName(x => x.First().Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
