@using MMR.TOPControls.Web.Helpers;

@model MMR.TOPControls.Web.Areas.Admin.ViewModels.ObjectTypeViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { data_form_action = "edit" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
        <h3>Edit Object Type</h3>
    </div>
    <div class="modal-body form-horizontal">
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.JobID)
        <div class="control-group">
            @Html.LabelFor(x => x.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.Description)
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
    </div>    
}
