﻿<div class="modal-header">
    <h3 class="modal-title">Confirm System Move</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <dl class="dl-horizontal">
            <dt>
                System:
            </dt>
            <dd>
                <strong>{{data.model.DisplayName}}</strong>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                From:
            </dt>
            <dd>
                {{data.from}}
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                To:
            </dt>
            <dd>
                {{data.to}}
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirmMove()">OK</button>
    <button class="btn pull-left" ng-click="cancel()">Cancel</button>
</div>