﻿<div class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Copy Tracked Item</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Id:</label>
            <input type="hidden" ng-model="viewmodel.item.TaskId" />
            <div class="controls">
                <label>{{viewmodel.trackedItemId}}</label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Phase:</label>
            <div class="controls">
                <ui-select class="input-block-level"
                           ng-model="phaseId"
                           theme="select2"
                           on-select="onPhaseChange($item, $model)">
                    <ui-select-match>
                        {{$select.selected.Text}}
                    </ui-select-match>
                    <ui-select-choices repeat="phase.Value as phase in phases | filter:$select.search">
                        <strong ng-bind-html="phase.Text | highlight:$select.search | trust"></strong>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Task:</label>
            <div class="controls">
                <ui-select class="input-block-level"
                           ng-model="viewmodel.newTaskID"
                           theme="select2">
                    <ui-select-match>
                        {{$select.selected.TaskName}}
                    </ui-select-match>
                    <ui-select-choices repeat="task.TaskId as task in viewmodel.tasks | filter:$select.search">
                        <strong ng-bind-html="task.TaskName | highlight:$select.search | trust"></strong>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        
        <div class="control-group">
            <div id="errors" class="softHide alert alert-danger">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn pull-left" ng-click="cancel()">Cancel</button>
    </div>
</div>