﻿<form class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Delete Tracked Item</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Id:</label>
            <input type="hidden" ng-model="viewmodel.item.TaskId" />
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.TrackingID}}
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Object Type:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.ObjectTypeId}}
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">System:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.SystemID}}
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Area:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.AreaID}}
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Craft Code:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.CraftID}}
                </span>
            </div>
        </div>

        <div class="control-group" ng-show="viewmodel.item.UDPName1">
            <label class="control-label">{{viewmodel.item.UDPName1}}:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.UDPValue1}}
                </span>
            </div>
        </div>

        <div class="control-group" ng-show="viewmodel.item.UDPName2">
            <label class="control-label">{{viewmodel.item.UDPName2}}:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.UDPValue2}}
                </span>
            </div>
        </div>

        <div class="control-group" ng-show="viewmodel.item.UDPName3">
            <label class="control-label">{{viewmodel.item.UDPName3}}:</label>
            <div class="controls">
                <span class="uneditable-input">
                    {{viewmodel.item.UDPValue3}}
                </span>
            </div>
        </div>
        
        <div class="control-group">
            <div id="errors" class="softHide alert alert-danger">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <label class="bold red align-center" ng-show="!viewmodel.canDelete">Delete not available for this item.</label>
        <button class="btn btn-primary" ng-disabled="!viewmodel.canDelete" ng-click="delete()">Delete</button>
        <button class="btn pull-left" ng-click="cancel()">Cancel</button>
    </div>
</form>