﻿<div ng-controller="HoverDetailCtrl as itemDetails" ng-init="itemDetails.init(item.ID)">
    <div class="phase-summary">
        <div class="row-fluid clearfix">
            <form ng-submit="itemDetails.updateTrackedItem(item)"
                  ng-hide="!itemDetails.canEdit && !item.Comments">
                <fieldset>
                    <label class="bold">Comments</label>
                    <textarea class="input-block-level comments" placeholder="Add comments here…"
                              ng-model="item.Comments"
                              ng-disabled="!itemDetails.canEdit"
                              msd-elastic></textarea>
                    <button type="submit" class="btn btn-small btn-primary pull-right"
                            ng-show="itemDetails.canEdit">
                        {{itemDetails.saveButtonText}}
                    </button>
                </fieldset>
                <div class="alert alert-error" ng-if="itemDetails.errorText">{{itemDetails.errorText}}</div>
                <hr />
            </form>
        </div>
        <div ng-if="itemDetails.loading" class="alert alert-info">
            Loading tracked item data ...
        </div>
        <ul class="unstyled" ng-if="!itemDetails.loading">
            <li ng-repeat="phase in itemDetails.trackedItemData | orderBy:'DisplayOrder'">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td width="125px">
                                <strong ng-if="matchSelectedPhaseName(phase.Phase)">{{phase.Phase}}</strong>
                                <em ng-if="!matchSelectedPhaseName(phase.Phase)">{{phase.Phase}}</em>
                            </td>
                            <td width="50px" style="text-align: right">
                                <strong>{{(phase.PercentComplete * 100).toFixed(1)}}%</strong>
                            </td>
                            <td>
                                <div class="progress progress-danger">
                                    <div class="bar" role="progressbar"
                                         aria-valuenow="{{(phase.PercentComplete * 100).toFixed(1)}}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         ng-style="{width: (phase.PercentComplete * 100) + '%'}"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>