﻿<div class="system-node">
    <button class="btn btn-link btn-collapse"
            ng-if="item.Children.length"
            ng-click="systems.toggleHidden(item.ID)">
        <i ng-class="{'icon-minus-sign': !systems.isHidden(item.ID), 'icon-plus-sign': systems.isHidden(item.ID)}"></i>
    </button>
    <div class="title" ui-tree-handle>
        {{item.DisplayName}}
    </div>
    <div class="system-action-buttons">
        <a class="btn btn-link"
           data-button-action="edit"
           no-drag
           ng-href="{{systems.editLink}}/{{item.ID}}"
           title="Edit System">
            <i class="icon-pencil"></i>
        </a>
        <a class="btn btn-link"
           data-button-action="create"
           ng-href="{{systems.createLink}}?parentId={{item.ID}}"
           title="Add New Subsystem">
            <i class="icon-plus"></i>
        </a>
        <a class="btn btn-link"
           data-button-action="edit"
           ng-href="{{systems.deleteLink}}/{{item.ID}}"
           title="Delete System">
            <i class="icon-trash"></i>
        </a>
    </div>
</div>
<ul ui-tree-nodes ng-model="item.Children" ng-hide="systems.isHidden(item.ID)">
    <li ng-repeat="item in item.Children"
        ng-init="systems.addNodeId(item.ID)"
        ui-tree-node
        ng-include="itemRenderUrl"></li>
</ul>