﻿<div class="modal-header">
    <h3 class="modal-title">Merge Systems</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span5">
            <div class="control-group">
                <label class="control-label">Source:</label>
                <div class="controls">
                    <ui-select ng-model="sourceSystem" theme="select2"
                               class="input-block-level system-select2-tree"
                               on-select="onSelectSource($item, $model)">
                        <ui-select-match placeholder="Select a system">
                            <span title="{{$select.selected.DisplayName}}">
                                {{$select.selected.DisplayName}}
                            </span>
                        </ui-select-match>
                        <ui-select-choices repeat="system.ID as system in systemTree | filter: {'searchText': $select.search}">
                            <div class="parent-path" title="{{system.parentPath.join('\n--------------\n')}}">
                                <small class="muted" ng-bind-html="system.parentDisplay | highlight:$select.search | makeHighlightVisible | trust"></small>
                            </div>
                            <strong ng-bind-html="system.DisplayName | highlight:$select.search | trust"
                                    title="{{system.parentPath.join('\n--------------\n')}}"></strong>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="span2 merge-arrow">
            <div class="control-group">
                <label class="control-label">
                    <i class="icon-arrow-right"></i>
                </label>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label class="control-label">Destination:</label>
                <div class="controls">
                    <ui-select ng-model="destinationSystem" theme="select2"
                               class="input-block-level system-select2-tree"
                               on-select="onSelectDestination($item, $model)">
                        <ui-select-match placeholder="Select a system">
                            <span title="{{$select.selected.DisplayName}}">
                                {{$select.selected.DisplayName}}
                            </span>
                        </ui-select-match>
                        <ui-select-choices repeat="system.ID as system in systemTree | filter: {'searchText': $select.search}">
                            <div class="parent-path" title="{{system.parentPath.join('\n--------------\n')}}">
                                <small class="muted" ng-bind-html="system.parentDisplay | highlight:$select.search | makeHighlightVisible | trust"></small>
                            </div>
                            <strong ng-bind-html="system.DisplayName | highlight:$select.search | trust"
                                    title="{{system.parentPath.join('\n--------------\n')}}"></strong>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="errorMessage">
        <div class="span12">
            <div class="alert alert-error">{{errorMessage}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="disableMerge()">OK</button>
    <button class="btn pull-left" ng-click="cancel()">Cancel</button>
</div>