﻿<div class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Add Tracked Item</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Id:</label>
            <input type="hidden" ng-model="viewmodel.item.TaskID" />
            <div class="controls">
                <input type="text" ng-model="viewmodel.item.TrackingID">
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label">Object Type:</label>
            <div class="controls">
                <select ng-model="viewmodel.item.ObjectTypeId"
                        ng-options="objectType.ID as objectType.Name for objectType in viewmodel.objectTypes"></select>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Task:</label>
            <div class="controls">
                <ui-select class="input-block-level"
                           ng-model="viewmodel.item.TaskID"
                           style="width: 220px"
                           theme="select2">
                    <ui-select-match>
                        {{$select.selected.text}}
                    </ui-select-match>
                    <ui-select-choices repeat="task.id as task in phaseTasks | filter:$select.search">
                        <strong ng-bind-html="task.text | highlight:$select.search | trust"></strong>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">System:</label>
            <div class="controls">
                <ui-select ng-model="viewmodel.item.SystemID" theme="select2"
                           class="system-select2-tree"
                           style="width: 220px"
                           on-select="onSelectDestination($item, $model)">
                    <ui-select-match placeholder="Select a system">
                        {{$select.selected.DisplayName}}
                    </ui-select-match>
                    <ui-select-choices repeat="system.ID as system in systemTree | filter: {'searchText': $select.search}">
                        <div class="parent-path" title="{{system.parentPath.join('\n--------------\n')}}">
                            <small class="muted" ng-bind-html="system.parentDisplay | highlight:$select.search | makeHighlightVisible | trust"></small>
                        </div>
                        <strong ng-bind-html="system.DisplayName | highlight:$select.search | trust"></strong>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Area:</label>
            <div class="controls">
                <select ng-model="viewmodel.item.AreaID"
                        ng-options="projectArea.ID as projectArea.AreaNumber for projectArea in viewmodel.projectArea"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Craft Code:</label>
            <div class="controls">
                <select ng-model="viewmodel.item.CraftID"
                        ng-options="craft.ID as craft.CraftCode for craft in viewmodel.crafts"></select>
            </div>
        </div>
        
        <div class="control-group" ng-show="viewmodel.item.UDPName1">
            <label class="control-label">{{viewmodel.item.UDPName1}}:</label>
            <div class="controls">
                <input type="text" ng-model="viewmodel.item.UDPValue1">
            </div>
        </div>

        <div class="control-group" ng-show="viewmodel.item.UDPName2">
            <label class="control-label">{{viewmodel.item.UDPName2}}:</label>
            <div class="controls">
                <input type="text" ng-model="viewmodel.item.UDPValue2">
            </div>
        </div>

        <div class="control-group" ng-show="viewmodel.item.UDPName3">
            <label class="control-label">{{viewmodel.item.UDPName3}}:</label>
            <div class="controls">
                <input type="text" ng-model="viewmodel.item.UDPValue3">
            </div>
        </div>        
        
        <div class="control-group">
            <label class="control-label">Comments:</label>
            <div class="controls">
                <textarea ng-model="viewmodel.item.Comments"
                          msd-elastic
                          style="overflow-y: auto !important; max-height: 200px"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div id="errors" class="softHide alert alert-danger">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn pull-left" ng-click="cancel()">Cancel</button>
    </div>
</div>