﻿<table style="width: 100%">
    <tbody>
        <tr class="system-name">
            <td>
                <button class="btn btn-link align-left"
                        ng-click="toggle(system.ID)"
                        ng-disabled="system.Children.length == 0">
                    <i ng-class="{'icon-plus': !expandState[system.ID], 'icon-minus': expandState[system.ID]}"></i>
                    <span>
                        {{system.Name}}
                    </span>
                </button>
            </td>
            <td class="progress-bar-label">
                {{system.PercentComplete * 100 | number:1}}%
            </td>
            <td ng-if="displayType == 'man-hours'" class="text-error emh-label">
                <strong>{{system.CompletedManhours}}/{{system.TotalManhours}} EMH</strong>
            </td>
            <td class="system-progress">
                <div class="progress">
                    <div class="bar bar-danger" role="progressbar" aria-valuenow="{{system.PercentComplete * 100 | number:1}}"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{width: (system.PercentComplete * 100) + '%'}">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>