﻿<div class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Progress History</h3>
        <h4 class="progress-entry-title">
            {{item.TrackingID}}
        </h4>
    </div>
    <div class="modal-body">
        <ul class="timeline">
            <li ng-repeat="entry in history.Entries">
                <button class="btn btn-link delete-progress-entry"
                        ng-show="entry.WorkDate"
                        ng-click="deleteProgressEntry(entry)">
                    <i class="icon-remove"></i>
                </button>
                <h3 class="timeline-date">
                    <span ng-hide="entry.WorkDate">Initial</span>
                    <span ng-show="entry.WorkDate">
                        {{entry.WorkDate | date:'shortDate'}}
                    </span>
                </h3>
                <div class="timeline-content {{getArrow(entry, $index)}}">
                    <table>
                        <tbody>
                            <tr>
                                <td class="progress-entry-percent">
                                    <h3>
                                        {{entry.NewPercentComplete * 100}}%
                                    </h3>
                                </td>
                                <td class="progress-entry-meta">
                                    <span>
                                        {{entry.EntryUserFullName}}
                                    </span><br />
                                    <span>
                                        {{entry.EntryDate | date:'shortDate'}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>