﻿<button class="btn btn-link align-left" ng-click="toggle(system.ID)">
    <i ng-class="{'icon-plus': !expandState[system.ID], 'icon-minus': expandState[system.ID]}" ng-show="system.Children.length"></i>
    <span>{{system.Name}}</span>
    <span>({{system.PercentComplete * 100 | number:1}}%)</span>
    <span ng-if="displayType == 'man-hours'" class="text-error">
        <strong>{{system.CompletedManhours}}/{{system.TotalManhours}} EMH</strong>
    </span>
</button>