﻿<div class="level_{{itemDepth(system)}}">
    <div ng-if="isRoot(system)" 
         ng-include="BaseUrl + 'Assets/js/angular/template/root-system.html'"></div>

    <div class="system-name"
         ng-if="!isRoot(system)"
         ng-include="BaseUrl + 'Assets/js/angular/template/sub-system.html'"></div>
    <div ng-if="expandState[system.ID]">
        <div ng-repeat="group in system.Children | filter:{'IsSystem': false} | groupByTask:system.ID"
             ng-include="BaseUrl + 'Assets/js/angular/template/tracked-item-group.html'"></div>
        <ul class="system-list" ng-show="(system.Children | some: 'IsSystem === true')">
            <li item-id="system_{{system.ID}}"
                ng-repeat="system in system.Children | filter:{'IsSystem': true}"
                ng-include="BaseUrl + 'Assets/js/angular/template/system-list.html'"></li>
        </ul>
    </div>
</div>