﻿<div class="row-fluid">
    <div class="span12">
        <h4>Systems</h4>
        <ul class="root system-list" ng-show="(systems | contains: 'IsSystem === true')">
            <li ng-repeat="system in systems | filter:{'IsSystem': true}"
                ng-include="BaseUrl + 'Assets/js/angular/template/system-list.html'"></li>
        </ul>
        <h4>No System Tracked Items</h4>
        <ul class="root tracked-item-list" ng-show="(systems | contains: 'IsSystem === false')">
            <li ng-repeat="system in systems | filter:{'IsSystem': false}"
                item-id="system_{{system.ID}}"
                ng-include="BaseUrl + 'Assets/js/angular/template/system-list.html'"></li>
        </ul>
    </div>
</div>