﻿<div class="task-group"
     ng-show="group.items.length">
    <strong>{{group.name}}:</strong>
    <ul class="clearfix tracked-item-list">
        <li ng-repeat="item in group.items" class="tracked-item {{getStage(item.PercentComplete)}}"
            item-id="tracked_item_{{item.ID}}">
            <hovercard hover-tmpl-url="{{BaseUrl + 'Assets/js/angular/template/hover-card-detail.html'}}"
                       on-hover-in="onTrackedItemHover(item.ID)">
                <span class="item-name" href="#" aria-haspopup="true">
                    <span class="percent-complete">
                        {{item.PercentComplete * 100 | number:1}}%
                        <div ng-if="displayType == 'man-hours'" class="text-error">
                            <strong>{{item.CompletedManhours}}/{{item.TotalManhours}} EMH</strong>
                        </div>
                        <div>
                            <i class="icon-comment"
                               ng-if="item.Comments"
                               title="{{item.Comments}}"></i>
                        </div>
                    </span>
                    <span ng-bind-html="formatDisplayName(item.Name, true) | trust"></span>
                </span>
            </hovercard>
        </li>
    </ul>
</div>