@model MMR.TOPControls.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = Request.Params["ReturnUrl"] }, FormMethod.Post, new { @class = "form-signin" }))
{
    <center>
        <img src="@Url.Content("~/Assets/img/Logo_Main_Registered.jpg")" alt="MMR Group">
    </center>
    
    <h2 class="form-signin-heading">Login</h2>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "", placeholder = "Email Address", autofocus = "autofocus" })    
    </div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        @Html.PasswordFor(x => x.Password, new { @class = "", placeholder = "Password" })    
    </div>
    
    <p></p>
    
    <button class="btn btn-primary" type="submit">Login</button>

    <div class="field-validation-error" id="error">
        @Model.Message
    </div>
    
    <div id="modal-container" class="modal hide">
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TopControls.user.init();
        });
    </script>
}