﻿@model MMR.TOPControls.Web.ViewModels.SystemSetupViewModel

@{
    ViewBag.Title = "Application Startup";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Startup", "Authentication", FormMethod.Post, new { @class = "form-startup" }))
{
    
    <center>
        <img src="@Url.Content("~/Assets/img/Logo_Group_500x259.png")" alt="MMR Group">
    </center>
    <legend>
        Setup the TOPControls Application
    </legend>
       
    <fieldset>
        <h4>The database appears to be empty. Before the TOPControls system can be used, this system will need a 
            sysadmin account and at least one job.  Enter the Job Name below, followed by the system administrator 
            password.
        </h4>
        @Html.ValidationSummary(true, "There were some problems encountered while attempting create the job or user account:", new { @class = "input-validation-error" })
        <div class="control-group">
            @Html.LabelFor(model => model.InitialJobTitle)
			<div class="controls">
				@Html.TextBoxFor(model => model.InitialJobTitle, new { @class = "", placeholder = "Job Number and Name", autofocus = "autofocus", autocomplete="off" })
				@Html.ValidationMessageFor(model => model.InitialJobTitle, null, new { style="display:block;" } )
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.AdminPassword)
			<div class="controls">
				@Html.PasswordFor(model => model.AdminPassword, new { @class = "", placeholder = "Administrator Password" })
				@Html.ValidationMessageFor(model => model.AdminPassword, null, new { style="display:block;" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { style="display:block;" })
            </div>
        </div>

		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="Get Started!" />
		</div>
    </fieldset>

    
}



