﻿@model MMR.TOPControls.Web.Areas.Admin.ViewModels.JobSettingsViewModel
@using MMR.TOPControls.Web.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Job Settings</h2>
</div>

<div id="job-settings-container" class="span6">
@using (Html.BeginForm(null,null, FormMethod.Post))
{
    <div class="modal-body form-horizontal">
        @Html.HiddenFor(x => x.Id)
        <div class="control-group">
            @Html.LabelFor(x => x.ShowEarnedToClient, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x => x.ShowEarnedToClient)
                @Html.ValidationMessageFor(x => x.ShowEarnedToClient)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.WeightedCalculations, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x=>x.WeightedCalculations, Model.WeightedCalculationsOptions, new { @class = "span3"})
                <p class="alert">
                    Calculating weighted values requires that all items have commodities assigned to them, and that those commodities have non-zero Man-Hours assigned. 
                </p>
                @Html.ValidationMessageFor(x => x.WeightedCalculations)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.HistoricalScopeCurve, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.HistoricalScopeCurve, Model.HistoricalScopeCurveOptions, new { @class = "span3" })
                <p class="alert">
                    Changing the Historical Progress Calculation value will cause all Historical Progress curves to be recalculated.  This may take a few minutes and may slow operation of the Project Status display and some reports.
                </p>
                @Html.ValidationMessageFor(x => x.HistoricalScopeCurve)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    ;
}
</div>

<div class="clearfix"></div>

<div id="userListSection" >
    @Html.Action("JobSettingsUsers")
</div>

@section Scripts
{
    <script>

        var urlMap = {
            userRefreshUrl: '@Url.Action("JobSettingsUsers")'
        };
        
        TopControls.jobSettings.init(urlMap);
    </script>
}
