﻿@model MMR.TOPControls.Web.Areas.Admin.ViewModels.JobSettingsViewModel
           
@{
    Layout = null;
}

<div class="row-fluid">
    <div class="span6">
        <h3>Authorized Users</h3>
        <table id="topuser-table" class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.JobUsers)
                {
                    <tr>
                        <td>@string.Format("{0} {1} ({2})", user.TOPUser.FirstName, user.TOPUser.LastName, user.TOPUser.Login)</td>
                        <td>
                            <a href="@Url.Action("RemoveUser", "JobSettings", new { id = user.ID})" data-action="remove-user">
                                <i class="icon-trash"></i>remove
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span6">
        <div class="form-horizontal well">
            <h4>Add Users</h4>
            <hr />
            <table id="topuser-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.AvailableJobUsers)
                    {
                        <tr>
                            <td>@string.Format("{0} {1} ({2})", user.FirstName, user.LastName, user.Login)</td>
                            <td>
                                <a href="@Url.Action("AddUser", "JobSettings", new { id = user.ID})" data-action="add-user">
                                    <i class="icon-plus-sign"></i>add
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>