@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.ProjectAreaViewModel>
<table id="projectarea-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayName(x => x.First().AreaNumber)</th>
            <th>@Html.DisplayName(x => x.First().Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
