@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.CraftInfoViewModel>

@{
    ViewBag.Title = "Crafts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb
{
    <li>Management</li>
    <li>
        <span class="divider">/</span>
    </li>
    <li>Crafts</li>
}

<div class="page-header">
    <h2>
        <span class="pull-left">
            @ViewBag.Title
        </span>
        <span class="pull-right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", data_button_action="create" })
        </span>
        <div class="clearfix"></div>
    </h2>
</div>

<div id="table-container">
	@{Html.RenderPartial("_ListItems",Model);}
</div>

<div id="modal-container" class="modal hide">
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TopControls.craftInfo.editLink = '@Html.ActionLink(" ", "Edit", new { id = "idPlaceholder" }, new { @class = "icon-edit inline-block", title = "Edit", data_button_action="edit" })';
            TopControls.craftInfo.deleteLink = '@Html.ActionLink(" ", "Delete", new { id = "idPlaceholder" }, new { @class = "icon-remove inline-block", title = "Delete", data_button_action="delete" })';
			TopControls.craftInfo.listUrl = '@Url.Action("ListItems")';
            TopControls.craftInfo.init();
        });
    </script>
}

