﻿@model MMR.TOPControls.Web.ViewModels.ChangeJobViewModel
@{
    Layout = "";
    
}

@using (Html.BeginForm("ChangeJob", "Home", FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
        <h3>Change Jobs</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                <h4>Job: </h4>
                @Html.DropDownList("jobSelector", Model.JobInfoFilter, new
                    {
                        data_select2_default = "", 
                        @class = "input-block-level job-selector ", 
                        data_placeholder = "Please select a job..."
                    })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Change Job</button>
        <button type="button" class="btn pull-left" data-dismiss="modal">Cancel</button>
    </div>    
}

<script>
    $('#jobSelector').select2({
        width: TopControls.common.select2Width
    });
</script>
