<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>@ViewBag.Title - MMR TOP Controls</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="@Url.Content("~/Assets/img/favicon.ico")">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href='@Url.Content("~/Assets/img/apple-touch-icon-114x114-precomposed.png")'>
