@using System.Web.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title></title>
    @Html.Partial("_Header")
    @Styles.Render("~/Assets/css/styles")
    <!--[if lt IE 9]><!-->
    @Scripts.Render("~/Assets/js/compatibility")
    <!--<![endif]-->
</head>
<body>
    <div class="top-notification"></div>
    <div id="content">
        <div class="container-fluid content-wrapper">
            <br>
            <div class="logo pull-left">
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="brand">
                    <img src="@Url.Content("~/Assets/img/Logo1.png")" alt="MMR Group Logo">
                </a>
            </div>
            <!-- Bread Crumbs -->
            <ul class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index", "Home", new { area = "" })">T.O.P. Controls</a> <span class="divider">/</span></li>
                @RenderSection("breadcrumb", false)
            </ul>
            <span class="current-job pull-right">
                @Html.Action("CurrentJobDisplay", "Home", new { area = "" })
            </span>
            <div class="clearfix"></div>
            <!-- Nav Bar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a href="@Url.Action("Index", "Home", new { area = "" })" class="brand">T.O.P. Controls</a>
                        <div class="nav-collapse">
                            <ul class="nav pull-right">
                                @if (ViewBag.OverrideDefaultMenu == null)
                                {
                                    <li class="divider-vertical"></li>
                                    @RenderSection("menubar", required: false)
                                    @Html.Partial("_TopNav")
                                }
                                else
                                {
                                    @RenderSection("menubar", required: false)
                                }
                            </ul>
                        </div>
                        <!-- /.nav-collapse -->
                    </div>
                </div>
                <!-- /navbar-inner -->
            </div>
            <!-- Render Body -->
            @RenderBody()
        </div>
        <div id="changeJobModal" class="modal hide fade">
        </div>
        <div id="taskManagementModal" class="modal hide fade"></div>
    </div>
    
    <script>
        var __BaseUrl = '@Url.Action("Index", "Home", new { area=""})';
    </script>

    @Scripts.Render("~/Assets/js/bundle")
    @RenderSection("Scripts", false)

    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
</body>
</html>
