﻿@model MMR.TOPControls.Web.ViewModels.TaskPhaseViewModel
@{
    Layout = "";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="icon-remove" /></button>
    <h3>Task Management</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="row-fluid">
        <div class="span12">
            <h4>Select A Phase To Manage: </h4>
            @Html.DropDownList("taskPhaseSelector", Model.TaskPhaseFilter, new
                    {
                        data_select2_default = "",
                        @class = "input-block-level",
                        data_url = @Url.Action("List", "Task", new { area = "Admin" })
                    })
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="btnSubmitPhaseTaskEditSelection">Manage Tasks</button>
    <button type="button" class="btn pull-left" data-dismiss="modal">Cancel</button>
</div>

<script>
    $('#taskPhaseSelector').select2({
        width: TopControls.common.select2Width
    });
</script>
