@if (User.IsInRole("TOPEntry") || User.IsInRole("TOPManager") || User.IsInRole("TOPAdmin"))
{
<li>
    <a href="@Url.Action("Index", "Home", new { area = "" })" data-toggle="modal">
        <i class=" icon-check"></i>Enter Daily Progress
    </a>
</li>
}
<li>
    <a href="@Url.Action("ChangeJob", "Home", new { area = "" })" id="changeJobModalButton">
        <i class=" icon-signin"></i>Change Job
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "ProjectStatus", new { area = "" })">
        <i class="icon-list-alt"></i>Project Status
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Reports", new { area = "" })">
        <i class="icon-print"></i>Reports
    </a>
</li>

@if (User.IsInRole("TOPAdmin") || User.IsInRole("TOPManager"))
{
    <li class="divider-vertical"></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>Management <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "JobSettings", new { area = "Admin" })">
                    <i class="icon-cogs"></i>Job Settings
                </a>
            </li>
            @if (User.IsInRole("TOPAdmin"))
            {
            <li>
                <a href="@Url.Action("List", "JobInfo", new { area = "Admin" })">
                    <i class="icon-briefcase"></i>Jobs
                </a>
            </li>
            }
            <li>
                <a href="@Url.Action("List", "TopUser", new { area = "Admin" })">
                    <i class="icon-group"></i>Users
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("List", "ProjectPhase", new { area = "Admin" })">
                    <i class="icon-sitemap"></i>Phases
                </a>
            </li>
            <li>
                <a href="@Url.Action("ManageTasks", "Home", new { area = "" })" id="manageTasksModalButton">
                    <i class="icon-tasks"></i>Tasks
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "Commodity", new { area = "Admin" })">
                    <i class="icon-barcode"></i>Commodities
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "ObjectType", new { area = "Admin" })">
                    <i class="icon-folder-close"></i>Object Types
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "ProjectSystem", new { area = "Admin" })">
                    <i class="icon-tag"></i>Project Systems
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "ProjectArea", new { area = "Admin" })">
                    <i class=" icon-tags"></i>Project Areas
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "CraftInfo", new { area = "Admin" })">
                    <i class="icon-info-sign"></i>Craft
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "WorkCrew", new { area = "Admin" })">
                    <i class="icon-group"></i>Work Crews
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("Index", "Import", new { area = "" })">
                    <i class="icon-upload-alt"></i>Import
                </a>
            </li>
            <li>
                <a href="@Url.Action("ExportAll", "Import", new { area = ""})" target="_blank">
                    <i class="icon-download"></i>Export All
                </a>
            </li>
        </ul>
    </li>
}
<li class="divider-vertical"></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user"></i>@User.Identity.Name <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("ChangePassword", "Home", new { area = "" })" data-button-action="edit">
                <i class="icon-lock"></i>Change Password
            </a>
        </li>
        <li>
            <a href="@Url.Action("Logout", "Authentication", new { area = "" })">
                <i class="icon-signout"></i>Log Out
            </a>
        </li>
    </ul>
</li>
