@using MMR.TOPControls.Web.Helpers;
@model IEnumerable<MMR.TOPControls.Web.Areas.Admin.ViewModels.TaskViewModel>
<table id="task-table" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayName(x => x.First().Title)</th>
            <th>@Html.DisplayName(x => x.First().DisplayOrder)</th>
            <th>@Html.DisplayName(x => x.First().DefaultCommodityID)</th>
            <th>@Html.DisplayName(x => x.First().DefaultCommodity)</th>
            <th></th> <!--    ID     -->
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
