@model MMR.TOPControls.Web.Areas.Admin.ViewModels.TaskListViewModel

@{
    ViewBag.Title = String.Format("{0} - Tasks", Model.Phase.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
	<h2>
		@ViewBag.Title
		<span class="pull-right">
            @Html.ActionLink("Create New", "Create", new { phaseId = Model.Phase.ID }, new { @class = "btn btn-primary", data_button_action = "create" })
        </span>
        <span class="clearfix"></span>
	</h2>
</div>

<div id="table-container">
	@{Html.RenderPartial("_ListItems",Model.PhaseTasks);}
</div>

<div id="modal-container" class="modal hide">
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TopControls.task.editLink = '@Html.ActionLink(" ", "Edit", new { id = "idPlaceholder" }, new { @class = "icon-edit inline-block", title = "Edit", data_button_action="edit" })';
            TopControls.task.deleteLink = '@Html.ActionLink(" ", "Delete", new { id = "idPlaceholder" }, new { @class = "icon-remove inline-block", title = "Delete", data_button_action="delete" })';
			TopControls.task.listUrl = '@Url.Action("ListItems", new { phaseId= Model.Phase.ID})';
            TopControls.task.init();
        });
    </script>
}

