﻿/*  ==|== Custom Css =====================================================
    Author: Justin Obney
    MMR Red: #762A2E;
    ========================================================================== */

/*#region Base */

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

a {
    color: #762A2E;
    text-decoration: none;
    cursor: pointer !important;
}

#content {
    min-width: 1008px;
}

.isSmallScreen #content {
    min-width: initial;
}

.isSmallScreen .container-fluid {
    padding: 0;
    margin: 0;
}

.isSmallScreen body {
    padding: 0;
    margin: 0;
}

#content .content-wrapper {
    min-height: 850px;
}

.top-notification {
    display: none;
    z-index: 9999;
    text-align: center;
    color: #7A7A42;
    border: solid 1px #8B8B00;
    width: 300px;
    padding: 10px;
    background: #FFFFA9;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -ms-box-shadow: 0 0 8px #000;
    -o-box-shadow: 0 0 8px #000;
}

.align-left {
    text-align: left;
}
/*#endregion */

/*#region Bootstrap Overrides */

.navbar-logoff {
    border-left: solid 1px #CCC;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    color: #FFF;
    text-decoration: none;
    background-color: #C00;
    background-color: #C00;
    background-image: -moz-linear-gradient(top, #C00, #7A0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C00), to(#7A0000));
    background-image: -webkit-linear-gradient(top, #C00, #7A0000);
    background-image: -o-linear-gradient(top, #C00, #7A0000);
    background-image: linear-gradient(to bottom, #C00, #7A0000);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#CC0000', endColorstr='#7A0000', GradientType=0);
}

.btn-primary {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #762A2E;
    *background-color: #762A2E;
    background-image: -moz-linear-gradient(top, #762A2E, #8A0311);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8A0311), to(#762A2E));
    background-image: -webkit-linear-gradient(top, #8A0311, #762A2E);
    background-image: -o-linear-gradient(top, #8A0311, #762A2E);
    background-image: linear-gradient(to bottom, #8A0311, #762A2E);
    background-repeat: repeat-x;
    border-color: #762A2E;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A0311', endColorstr='#762A2E', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        color: #FFFFFF;
        background-color: #762A2E;
        *background-color: #762A2E;
    }

.btn-toggle:focus,
.btn-toggle:active,
.btn-toggle.active {
    color: #FFFFFF;
    background-color: #762A2E;
    *background-color: #762A2E;
}

a.brand img {
    width: 170px;
}

.navbar .nav li > a:hover {
    background-color: #e5e5e5;
}

.btn-group .btn, .btn-group > .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: -1px;
}

    .btn-group .btn > input {
        display: none;
    }

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

    .btn-group > .btn,
    .btn-group-vertical > .btn {
        position: relative;
        float: left;
    }

        .btn-group > .btn:hover,
        .btn-group-vertical > .btn:hover,
        .btn-group > .btn:focus,
        .btn-group-vertical > .btn:focus,
        .btn-group > .btn:active,
        .btn-group-vertical > .btn:active,
        .btn-group > .btn.active,
        .btn-group-vertical > .btn.active {
            z-index: 2;
        }

        .btn-group > .btn:focus,
        .btn-group-vertical > .btn:focus {
            outline: none;
        }

    .btn-group .btn + .btn,
    .btn-group .btn + .btn-group,
    .btn-group .btn-group + .btn,
    .btn-group .btn-group + .btn-group {
        margin-left: -1px;
    }

.btn-toolbar {
    margin-left: -5px;
}

    .btn-toolbar .btn-group,
    .btn-toolbar .input-group {
        float: left;
    }

    .btn-toolbar > .btn,
    .btn-toolbar > .btn-group,
    .btn-toolbar > .input-group {
        margin-left: 5px;
    }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group > .btn-group {
    float: left;
}

    .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
        border-radius: 0;
    }

    .btn-group > .btn-group:first-child > .btn:last-child,
    .btn-group > .btn-group:first-child > .dropdown-toggle {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .btn-group > .btn-group:last-child > .btn:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

    .btn-group.open .dropdown-toggle.btn-link {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.white-well {
    background-color: #FFF;
}

.nav-tabs {
    border-bottom: 1px solid #979797;
}

    .nav-tabs > li > button,
    .nav-pills > li > button {
        padding-right: 12px;
        padding-left: 12px;
        margin-right: 2px;
        line-height: 14px;
    }

    .nav-tabs > li > button {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 20px;
        border: 1px solid transparent;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        color: #762A2E;
    }

        .nav-tabs > li > button,
        .nav-tabs > li > button:focus {
            background: #F1F1F1;
            border-color: #AAA #AAA #979797;
            text-decoration: none;
            color: #762A2E;
            outline: none;
        }

    .nav-tabs > .active > button,
    .nav-tabs > .active > button:hover,
    .nav-tabs > .active > button:focus {
        color: #555555;
        cursor: default;
        background-color: #ffffff;
        border: 1px solid #979797;
        border-bottom-color: transparent;
    }

.progress-danger .bar, .progress .bar-danger {
    background-color: #762A2E;
    background-image: -moz-linear-gradient(top, #A6363C, #762A2E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A6363C), to(#762A2E));
    background-image: -webkit-linear-gradient(top, #A6363C, #762A2E);
    background-image: -o-linear-gradient(top, #A6363C, #762A2E);
    background-image: linear-gradient(to bottom, #A6363C, #762A2E);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6363C', endColorstr='#762A2E', GradientType=0);
}

.modal.fixed {
    position: fixed;
}

.tooltip.in {
    -ms-opacity: 0.90;
    opacity: 0.90;
}

/*#endregion */

/*#region Tables */

.table thead tr th, .table tfoot tr th {
    background-color: #762A2E !important;
    color: white;
    font-weight: normal;
}

tr.footer {
    background: #000;
    color: #FFF;
}

.table-hover tbody tr.no-hover:hover td {
    background-color: inherit;
}

/*#endregion */

/*#region Progress Entry Page */

.progress-header-values span {
    color: #762A2E;
}

.stage1 .active.btn,
.stage1.tracked-item,
.stage1 .angular-hovercard-detail {
    background-color: #FDAC62 !important;
}

.stage2 .active.btn,
.stage2.tracked-item,
.stage2 .angular-hovercard-detail {
    background-color: #FFFF86 !important;
}

.stage3 .active.btn,
.stage3.tracked-item,
.stage3 .angular-hovercard-detail {
    background-color: #C1F59E !important;
}

.stage1 .btn, .stage2 .btn, .stage3 .btn {
    color: #777;
}

.tag-progress-wrapper .btn {
    text-shadow: none;
    font-weight: bold;
    border: none;
    font-size: 24px;
    padding-bottom: 0;
}

.progress-entry-area .pagination {
    margin: 0 !important;
}

    .progress-entry-area .pagination ul {
        margin: 0 !important;
    }

.edit-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #D8D8D8;
    display: none;
}

    .edit-actions button {
        color: #762A2E;
        padding: 2px 5px;
        border: solid 1px #C7C0C0;
        float: left;
    }

tr:hover .edit-actions {
    display: block;
}
/*#endregion */

/*#region Project Dashboard */

.dashboard-section-header {
    height: 30px;
}

.clear {
    clear: both;
}

.phases {
    border-radius: 3px;
}

.level {
    background-color: #CCC;
    background-image: url(images/shade.png);
    position: relative;
    color: #FFF;
}

    .level .info {
        color: #000;
    }

.first .text {
    margin: 10px 20px;
}

.last .percent {
    padding: 30px 20px 30px 0;
}

.level h4 {
    color: #000;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    opacity: .7;
    text-shadow: 1px 1px 0 #FFF;
}

.level .info {
    font-size: 12px;
    line-height: 26px;
}

.text {
    margin: 10px 0 10px 50px;
    width: 70%;
    min-width: 170px;
    font-size: 80%;
    line-height: normal;
}

.percent {
    background: #CCC;
    vertical-align: middle;
    z-index: 3;
    text-align: center;
}

.info span {
    text-shadow: 1px 1px 0 #000;
    float: left;
    font-size: 25px;
    margin-right: 5px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #CCC;
    margin-right: -40px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.not-started.arrow-right {
    border-left-color: #733A3A;
}

.not-started.percent {
    background: #733A3A;
}

.work-started.arrow-right {
    border-left-color: #DC8F3B;
}

.work-started.percent {
    background: #DC8F3B;
}

.almost-complete.arrow-right {
    border-left-color: #D5A40C;
}

.almost-complete.percent {
    background: #D5A40C;
}

.complete.arrow-right {
    border-left-color: #69980E;
}

.complete.percent {
    background: #69980E;
}

.phases tr, .phases .table th, .phases .table td {
    border-top: 0;
}

#content .content-wrapper table.table.level {
    margin-bottom: 0 !important;
}

.percent.level {
    text-align: center;
}

.table .phase {
    padding: 0;
}

.phase tr, .phase .td {
    background: #CCC;
}

.phase .percent {
    text-align: center;
}

.isSmallScreen .phases tr {
    border-bottom: solid 4px #FFF;
}

/*#endregion */

/*#region Header */

.current-job {
    padding: 8px 15px;
    margin: 0 5px 20px;
    font-weight: bold;
}

/*#endregion */

/*#region System Management */


/* angular-ui-tree css file */
.angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
    background-image: -moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
    background-image: linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
    background-size: 60px 60px;
    background-position: 0 0,30px 30px;
}

.angular-ui-tree-nodes {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 20px;
    }

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f0f9ff;
    border: 1px dashed #bed2db;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    color: #7c9eb2;
    padding: 5px 0px;
}

    .angular-ui-tree-handle:hover {
        color: #438eb9;
        text-decoration: none;
    }

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}

.angular-ui-tree-node {
    color: #7c9eb2;
}

.system-node {
    position: relative;
    border: solid 1px #fbfbfb;
}

    .system-node:hover {
        background: #E5E5E5;
        border-color: #CCC;
    }

.btn-collapse {
    margin-left: -36px;
    margin-right: 10px;
    z-index: 1;
    position: relative;
    background: #FBFBFB;
    padding: 1px 1px 0px 1px;
    border: solid 1px;
    text-align: center;
    -ms-border-radius: 50px;
    border-radius: 50px;
    color: #777;
}

    .btn-collapse:hover,
    .btn-collapse:focus {
        z-index: 1;
        position: relative;
        background: #FBFBFB;
        color: #444;
        outline: none;
    }

.root-node > .system-node > .btn-collapse {
    margin-left: -25px;
    margin-right: 0;
}

.btn-collapse i {
    margin: 0;
    line-height: 100% !important;
}

.system-action-buttons {
    -ms-opacity: 0.2;
    opacity: 0.2;
    position: absolute;
    right: 5px;
    z-index: 1;
    top: -1px;
}

    .system-action-buttons a {
        color: #777777;
        padding-right: 4px;
        padding-left: 4px;
    }

.system-node:hover .system-action-buttons {
    -ms-opacity: 1;
    opacity: 1;
}

.tree {
    max-width: 900px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 0 0 15px;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -10px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 2px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 2px solid #999;
            height: 20px;
            top: 25px;
            width: 26px;
        }

        .tree li .title {
            border: 1px solid #999;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
        }

        .tree li.parent_li > .title {
            cursor: pointer;
        }

    .tree > ul > li::before,
    .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 26px;
    }

    .tree li.parent_li > .title:hover,
    .tree li.parent_li > .title:hover + ul li .title {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

    .tree li.angular-ui-tree-placeholder::before,
    .tree li.angular-ui-tree-placeholder::after {
        left: -11px;
    }

.angular-ui-tree-drag.tree {
    padding: 0px;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    background: transparent;
}

    .angular-ui-tree-drag.tree .root-node > .system-node > .btn-collapse {
        margin: 0;
    }

.angular-ui-tree-drag > li::before {
    border: none;
}

.angular-ui-tree-drag.tree li::before,
.angular-ui-tree-drag.tree li::after {
    left: 5px;
    width: 10px;
}

/*#endregion */

/*#region System Status Breakdown */

.level_1 {
    background: #eee;
}

.level_2 {
    background: #ccc;
}

.level_3 {
    background: #aaa;
}

.level_4 {
    background: #999;
}

.tracked-item {
    border: solid 1px #aaa;
    float: left;
    width: 250px;
    margin-left: 5px;
    padding: 8px;
    height: 60px;
    margin-bottom: 5px;
    overflow: hidden;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
}

    .tracked-item .percent-complete {
        float: right;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        margin-left: 10px;
    }

    .tracked-item .item-name {
        float: left;
        display: inline;
        width: 100%;
    }

.progress-bar-label {
    width: 40px;
    padding-right: 15px;
    color: #6D6D6D;
    font-size: 12px;
    text-align: right;
}

.emh-label {
    width: 70px;
}

.system-list {
    margin-top: 0;
    margin-bottom: 0;
}

.tracked-item-list {
    padding-top: 10px;
    margin-top: 0;
}

.system-list .system-list {
    margin-left: 20px;
}

.system-list .btn-link {
    color: #762A2E;
}

.system-list .progress {
    margin: 0 7px 0 0;
    background-color: #999999;
    background-image: -moz-linear-gradient(top, #D8D8D8, #999999);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D8D8D8), to(#999999));
    background-image: -webkit-linear-gradient(top, #D8D8D8, #999999);
    background-image: -o-linear-gradient(top, #D8D8D8, #999999);
    background-image: linear-gradient(to bottom, #D8D8D8, #999999);
}

.level_2,
.level_3,
.level_4 {
    border: solid 1px #aaa;
    border-bottom: none;
}

    .level_1 .tracked-item-list,
    .level_2 .tracked-item-list,
    .level_3 .tracked-item-list,
    .level_4 .tracked-item-list {
        background: rgba(0,0,0,0.1);
    }

li:last-child .level_2,
li:last-child .level_3,
li:last-child .level_4 {
    border-bottom: solid 1px #aaa;
}

td.system-progress {
    width: 60%;
}

.system-name {
    border-top: solid 1px #aaa;
}

.item-name {
    position: relative;
    font-size: 1em;
    height: 4.3em;
}

    .item-name:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 100%;
        height: 3.0em;
    }

.stage1 .item-name:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(253, 172, 98, 1) 80%);
}

.stage2 .item-name:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 134, 1) 80%);
}

.stage3 .item-name:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(193, 245, 158, 1) 80%);
}

.sticky-system-search {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    background: #FFF;
    left: 0;
    padding: 20px 40px;
    margin: 0;
    border-bottom: solid 1px #333;
    -webkit-box-shadow: 0 0 4px;
    -ms-box-shadow: 0 0 4px;
    box-shadow: 0 0 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    z-index: 1;
}

/*#endregion */

/*#region Hover Card */

.angular-hovercard {
    display: inline-block;
    position: relative;
    width: 100%;
}

    .angular-hovercard.angular-hovercard-active {
        position: absolute;
        max-width: 400px;
    }

.angular-hovercard-label {
    color: #444;
    position: relative;
}

    .angular-hovercard-label.angular-hovercard-active {
        z-index: 99;
        width: 400px;
    }

.angular-hovercard-detail {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 3px #888;
    -ms-box-shadow: 0px 0px 5px 3px #888;
    box-shadow: 0px 0px 5px 3px #888;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background: white;
    border: 1px solid #ddd;
    opacity: 0;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    visibility: hidden;
    width: 400px;
    z-index: 98;
}

    .angular-hovercard-detail.angular-hovercard-active {
        opacity: 1;
        visibility: visible;
    }

.angular-hovercard-active .item-name:after {
    display: none;
}

.item-name .split-task-name {
    font-weight: bold;
}

.angular-hovercard-active .item-name .split-task-name {
    display: block;
}

.angular-hovercard-active .item-name {
    height: auto;
}

/*#endregion */

.parent-path {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ui-select-choices-row-inner .split-task-name {
    display: block;
    color: #6E6E6E;
    font-weight: normal;
}

.ui-select-choices-row {
    border-bottom: solid 1px #D5D5D5;
}

.system-select2-tree .select2-choices {
    padding: 0 5px;
}

.system-select2-tree .ui-select-match-item {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0 !important;
}

.select2-results .select2-highlighted {
    background: #D2E4FF;
    color: #000;
}

.system-select2-tree .select2-results .select2-highlighted .muted {
    color: #555;
}

.ui-select-highlight,
.select2-match {
    text-decoration: underline;
    background: #FDFD8D;
    font-weight: bold;
}

.selectize-dropdown .optgroup-header {
    background: #EDEDED;
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
}

.selectize-dropdown .active {
    color: #495c68;
    background-color: #C8EAFF;
}

.merge-arrow {
    text-align: center;
}

    .merge-arrow i {
        font-size: 20px;
        line-height: 70px;
    }

.phase-summary {
    background: #EEE;
    padding: 10px 5px;
    margin-left: -1em !important;
    margin-right: -1em;
    margin-bottom: 0;
    border-top: solid 1px #898989;
    min-height: 50px;
}

    .phase-summary .btn-primary {
        margin-top: 5px;
        color: #FFF;
    }

    .phase-summary ul li {
        margin-top: 5px;
    }

    .phase-summary .comments {
        max-height: 150px;
        overflow-y: scroll !important;
    }

.angular-hovercard-active .icon-comment {
    display: none;
}

.task-group {
    margin-left: 25px;
}

.timeline {
    list-style: none;
}

    .timeline > li {
        margin-bottom: 60px;
        border-bottom: solid 1px #ccc;
    }

        .timeline > li:last-child {
            border-bottom: none;
        }

        .timeline > li h3 {
            font-size: 1.4em;
        }

/* for Desktop */
@media ( min-width : 640px ) {
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .timeline-date {
        width: 110px;
        float: left;
        text-align: right;
        padding-right: 20px;
        color: #444;
    }

    .timeline-content {
        width: 70%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 0;
    }

        .timeline-content:before {
            content: "";
            width: 15px;
            height: 18px;
            background: #777;
            position: absolute;
            left: 122px;
            top: 21px;
            -ms-border-radius: 100%;
            border-radius: 100%;
            font-family: FontAwesome;
            color: #fff;
            padding-left: 4px;
        }

        .timeline-content.arrow-down:before {
            content: "\f063";
            background: #762A2E;
        }

        .timeline-content.arrow-up:before {
            content: "\f062";
            background: #245E26;
        }
}

.delete-progress-entry {
    position: absolute;
    top: 10px;
    right: 0px;
    color: #999;
}

h4.progress-entry-title {
    color: #777;
}

.progress-entry-percent {
    width: 70px;
    padding-left: 20px;
}

.progress-entry-meta {
    padding-top: 10px;
    color: #777;
    text-align: right;
    padding-right: 20px;
}

.timeline-content table {
    width: 100%;
}

.progress-entry-percent i {
    margin-top: 5px;
    font-size: 0.8em;
}

li.initial h3.timeline-date {
    float: none;
    width: 100%;
    text-align: center;
}

li.initial .timeline-content {
    display: none;
}
