body {
  background: #8A8A8A !important;
}
#tooltip {
  position: absolute;
  display: none;
  padding: 5px;
  color: #eee;
  background-color: #000;
  opacity: 0.80;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.head {
  height: 60px;
  background: #f4f4f4;
}
.head .head-inner {
  padding-top: 10px;
}
.head .head-inner .brand {
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  color: #333;
  background: url('../img/logo.png') no-repeat;
  padding-left: 35px;
}
.head .head-inner .brand:hover {
  text-decoration: none;
}
.head .head-inner > .head-nav {
  font-size: 14px;
  float: right;
  padding: 0;
  list-style-type: none;
}
.head .head-inner > .head-nav > li {
  position: relative;
  float: left;
  margin-right: 25px;
}
.head .head-inner > .head-nav > li.active {
  border-bottom: 2px solid #333;
}
.head .head-inner > .head-nav > li.active i {
  opacity: 1;
}
.head .head-inner > .head-nav > li.active > a {
  text-decoration: none;
  color: #333;
}
.head .head-inner > .head-nav > li.active > a .caret {
  opacity: 1;
}
.head .head-inner > .head-nav > li.open > a {
  padding-top: 7px;
  background: #fff;
  color: #333;
  text-decoration: none;
  border-top: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.head .head-inner > .head-nav > li.open > a .caret {
  opacity: 1;
}
.head .head-inner > .head-nav > li.open > a i {
  opacity: 1;
}
.head .head-inner > .head-nav > li .dropdown-menu {
  border: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.head .head-inner > .head-nav > li > a {
  padding: 8px 8px 3px 3px;
  color: #888;
  display: block;
  line-height: 19px;
}
.head .head-inner > .head-nav > li > a i {
  margin-top: 1px;
  margin-right: 6px;
  opacity: 0.6;
}
.head .head-inner > .head-nav > li > a:hover {
  text-decoration: none;
  color: #333;
}
.head .head-inner > .head-nav > li > a:hover .caret {
  opacity: 1;
}
.head .head-inner > .head-nav > li > a:hover i {
  opacity: 1;
}
.head .head-inner > .head-nav > li > a > .caret {
  margin-top: 7px;
  margin-left: 5px;
  border-top-color: black;
  border-bottom-color: black;
  opacity: 0.6;
}
#content {
  margin: 10px 0 25px;
}
#content .flot {
  min-height: 250px;
  max-height: 250px;
  height: 250px;
  width: 100%;
}
#content .green {
  color: #1f6f0f;
}
#content .red {
  color: red;
}
#content .content-wrapper {
  padding: 0 20px 40px 20px;
  background: white;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#content .content-wrapper .center {
  text-align: center;
}
#content .content-wrapper .dataTables_info {
  float: left;
}
#content .content-wrapper div.dataTables_length label {
  float: left;
  text-align: left;
}
#content .content-wrapper div.dataTables_length select {
  width: 75px;
}
#content .content-wrapper div.dataTables_filter label {
  float: right;
}
#content .content-wrapper div.dataTables_info {
  padding-top: 8px;
}
#content .content-wrapper div.dataTables_paginate {
  float: right;
  margin: 0;
}
#content .content-wrapper table.table {
  clear: both;
  margin-bottom: 6px !important;
}
#content .content-wrapper table.table thead .sorting,
#content .content-wrapper table.table thead .sorting_asc,
#content .content-wrapper table.table thead .sorting_desc,
#content .content-wrapper table.table thead .sorting_asc_disabled,
#content .content-wrapper table.table thead .sorting_desc_disabled {
  cursor: pointer;
}
#content .content-wrapper table.table thead .sorting {
  background: url('img/sort_both.png') no-repeat center right;
}
#content .content-wrapper table.table thead .sorting_asc {
  background: url('img/sort_asc.png') no-repeat center right;
}
#content .content-wrapper table.table thead .sorting_desc {
  background: url('img/sort_desc.png') no-repeat center right;
}
#content .content-wrapper table.table thead .sorting_asc_disabled {
  background: url('img/sort_asc_disabled.png') no-repeat center right;
}
#content .content-wrapper table.table thead .sorting_desc_disabled {
  background: url('img/sort_desc_disabled.png') no-repeat center right;
}
#content .content-wrapper table.table thead tr th:focus {
  outline: none;
}
#content .content-wrapper .ui-spinner button {
  height: 14px;
  position: absolute;
  background: none;
  border: none;
  width: 18px;
  padding: 0;
  background: url(../img/spinner_arrows.gif) no-repeat 0 -100px;
  cursor: pointer;
}
#content .content-wrapper .ui-spinner .ui-spinner-up {
  top: 0;
  right: 0;
  background-position: 0 0;
}
#content .content-wrapper .ui-spinner .ui-spinner-down {
  top: 14px;
  right: 0;
  background-position: 0 -14px;
}
#content .content-wrapper .ui-spinner .ui-spinner-up:hover {
  background-position: -18px 0;
}
#content .content-wrapper .ui-spinner .ui-spinner-down:hover {
  background-position: -18px -14px;
}
#content .content-wrapper .ui-spinner input,
#content .content-wrapper .ui-spinner input:focus {
  margin-top: 2px;
  display: block !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#content .content-wrapper .ui-spinner ul {
  margin: 0;
}
#content .content-wrapper .ui-spinner li {
  line-height: 28px;
}
#content .content-wrapper .ui-spinner {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
#content .content-wrapper .ui-spinner .ui-spinner-box {
  background: none;
  border: none !important;
}
#content .content-wrapper .plupload_buttons .pl_add {
  margin-right: 10px;
}
#content .content-wrapper .gallery ul {
  margin: 0 18px 0 0;
  padding: 0;
  list-style-type: none;
}
#content .content-wrapper .gallery ul li {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}
#content .content-wrapper .gallery ul li img {
  padding: 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#content .content-wrapper .site_error {
  padding: 180px 0;
  font-size: 300px;
  text-align: center;
  text-shadow: 0px 0px 10px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
#content .content-wrapper .error_desc {
  text-align: center;
  font-size: 20px;
}
#content .content-wrapper .tab-content {
  overflow: hidden;
}
#content .content-wrapper .page-header {
  padding-bottom: 5px;
  border-color: #ddd;
}
#content .content-wrapper .page-header.nm {
  margin-bottom: 2px;
}
#content .content-wrapper .page-header.tabs {
  position: relative;
}
#content .content-wrapper .page-header.tabs h2 {
  float: left;
}
#content .content-wrapper .page-header .nav.nav-pills,
#content .content-wrapper .page-header .nav.nav-tabs {
  position: absolute;
  right: 15px;
  bottom: 2px;
}
#content .content-wrapper .page-header .nav.nav-pills li a i,
#content .content-wrapper .page-header .nav.nav-tabs li a i {
  margin-right: 5px;
}
#content .content-wrapper .page-header .nav.nav-tabs {
  bottom: 0;
  border-bottom: 0;
}
#content .content-wrapper .page-header .nav {
  margin-bottom: 0;
}
#content .content-wrapper table td {
  vertical-align: middle;
}
#content .content-wrapper table.media tr td img {
  padding: 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#content .content-wrapper table .action-buttons {
  width: 82px;
}
#content .content-wrapper table .action-buttons-small {
  width: 55px;
}
#content .content-wrapper table.table-nohead thead {
  display: none;
}
#content .content-wrapper table.table-nohead tbody tr:first-child td {
  border-top: 0;
}
#content .content-wrapper .well.stats {
  padding: 15px;
  margin-top: 20px;
}
#content .content-wrapper .well.stats .statistic {
  margin: 0;
  padding: 0;
  float: left;
  height: 32px;
  list-style-type: none;
}
#content .content-wrapper .well.stats .statistic li {
  display: block;
  width: 4px;
  float: left;
  background: whiteSmoke;
}
#content .content-wrapper .well.stats .statistic.statistic-red {
  background: red;
}
#content .content-wrapper .well.stats .statistic.statistic-grey {
  background: #333;
}
#content .content-wrapper .well.stats .statistic.statistic-blue {
  background: blue;
}
#content .content-wrapper .well.stats .statistic.statistic-green {
  background: green;
}
#content .content-wrapper .well.stats img {
  float: left;
}
#content .content-wrapper .well.stats .detail {
  float: left;
  margin-left: 16px;
}
#content .content-wrapper .well.stats .detail span {
  display: block;
}
#content .content-wrapper .well.stats .detail span.detail-head {
  font-weight: bold;
  font-size: 16px;
}

label.checkbox {
  text-align: left;
}

.dropdown-menu.pull-left{
  left: auto;
  right: 0;
}

.align-right {
  text-align: right !important;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.container-fluid {
  margin: 10px 20px;
}

.input-append .btn-group .btn, .btn-group > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

body .modal {
  /*width: 75%;*/ /* desired relative width */
  /*left: 12.5%;*/ /* (100%-width)/2 */
  /*margin: auto;*/ /* place center */
}
body .modal.fade.in {
  top: 10%; /* fade in to correct spot */
}

.align-center {
  text-align: center;
}
